In [2]:
import pandas as pd
from langdetect import detect

In [3]:
target = pd.read_csv("D:\Dokumenty\Zastosowanie Technologii Informatycznych\data\CEA_Round1_Targets.csv",
                    sep = ',',
                    names=['TableID', 'ColumnID', 'RowID'])
target[:3]

                          TableID  ColumnID  RowID
0   50245608_0_871275842592178099         0    154
1  39107734_2_2329160387535788734         1     32
2  22864497_0_8632623712684511496         0    227

In [4]:
target.shape

(8418, 3)

In [24]:
counter = 0
for index, row in target.iterrows():
    table_id = row['TableID']
    column_id = row['ColumnID']
    row_id = row['RowID']
    df = pd.read_csv(f"D:\Dokumenty\Zastosowanie Technologii Informatycznych\data\CEA_Round1\{table_id}.csv",
                sep=',')
    print(df.iloc[row_id-1:row_id, column_id:(column_id+1)].values)

8418

In [66]:
df = pd.read_csv("D:\Dokumenty\Zastosowanie Technologii Informatycznych\data\CEA_Round1\8468806_0_4382447409703007384.csv",
                sep=',')
df[:3]

,Rang,Name,Staat(en),Fläche-(km2),Länge-(km),Max.-Tiefe-(m),Volumen-(km?)
0,1.0,Kaspisches-Meer,Aserbaidschan Russland Kasachstan Turkmenistan...,371.000,1199,1025,78.200
1,2.0,Oberer-See,USA-Kanada,82.414,616,405,12.100
2,3.0,Victoriasee,Kenia Tansania Uganda,69.485,322,84,2750

In [67]:
detect(df.iloc[0:1, 1:2].values[0][0])

'de'

In [68]:
from SPARQLWrapper import SPARQLWrapper, JSON

sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery("""
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    SELECT ?label
    WHERE { <http://dbpedia.org/resource/Norway> rdfs:label ?label }
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

print(results)
for result in results["results"]["bindings"]:
    print(result["label"]["value"])

{'head': {'link': [], 'vars': ['label']}, 'results': {'distinct': False, 'ordered': True, 'bindings': [{'label': {'type': 'literal', 'xml:lang': 'en', 'value': 'Norway'}}, {'label': {'type': 'literal', 'xml:lang': 'ar', 'value': 'النرويج'}}, {'label': {'type': 'literal', 'xml:lang': 'de', 'value': 'Norwegen'}}, {'label': {'type': 'literal', 'xml:lang': 'es', 'value': 'Noruega'}}, {'label': {'type': 'literal', 'xml:lang': 'fr', 'value': 'Norvège'}}, {'label': {'type': 'literal', 'xml:lang': 'it', 'value': 'Norvegia'}}, {'label': {'type': 'literal', 'xml:lang': 'ja', 'value': 'ノルウェー'}}, {'label': {'type': 'literal', 'xml:lang': 'nl', 'value': 'Noorwegen'}}, {'label': {'type': 'literal', 'xml:lang': 'pl', 'value': 'Norwegia'}}, {'label': {'type': 'literal', 'xml:lang': 'pt', 'value': 'Noruega'}}, {'label': {'type': 'literal', 'xml:lang': 'ru', 'value': 'Норвегия'}}, {'label': {'type': 'literal', 'xml:lang': 'zh', 'value': '挪威'}}]}}
Norway
النرويج
Norwegen
Noruega
Norvège
Norvegia
ノルウェー
Noorwegen
Norwegia
Noruega
Норвегия
挪威

In [69]:
from SPARQLWrapper import SPARQLWrapper, JSON

sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery("""
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX ont: <http://dbpedia.org/ontology/>
    SELECT ?a, ?c
    WHERE { 
            ?a ont:location <http://dbpedia.org/resource/Delft> . 
            FILTER regex(?a, "Ikea", "i")
          }
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

print(results)
# print(result['a'])
# print(result['b'])
# print(result['c'])

# for result in results["results"]["bindings"]:
#     print(type(result))

{'head': {'link': [], 'vars': ['a', 'c']}, 'results': {'distinct': False, 'ordered': True, 'bindings': [{'a': {'type': 'uri', 'value': 'http://dbpedia.org/resource/IKEA'}}]}}

In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON

sss = "dbr:Game_of_Thrones"
sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery('''
ASK {e}
    VALUES (?r) {e} ({source}) {w}
        {e} ?r ?p ?o {w}
        UNION
        {e} ?s ?r ?o {w}
        UNION
        {e} ?s ?p ?r {w}
    {w} 
'''.format(source=sss, e="{", w="}"))
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

print(results)

{'head': {'link': []}, 'boolean': True}

In [2]:
from SPARQLWrapper import SPARQLWrapper, JSON

sss = "dbr:Game_of_Thrones"
sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery('''
ASK {
    VALUES (?r) { (dbr:Gra_o_tron) }
        { ?r ?p ?o }
        UNION
        { ?s ?r ?o }
        UNION
        { ?s ?p ?r }
    } 
''')
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

print(results)

{'head': {'link': []}, 'boolean': False}

In [ ]:
SELECT ?r ?p ?o
WHERE {
 VALUES (?r) { (dbr:Cat) }
        { ?r ?p ?o }
        UNION
        { ?s ?r ?o }
        UNION
        { ?s ?p ?r }
}

select ?s
where {
        { ?s rdfs:label "Kot domowy"@pl }
        UNION
        { "Kot domowy"@pl rdfs:label ?s }
} 

SELECT ?r
WHERE {
        { ?r rdfs:label "Kaspisches Meer"@de }

}